#shop-content {
  margin-top: 120px;
}

.is-current-price {
  font-weight: 500;
}

.sale-price {
  color: red;
  padding-left: 8px;
}

.reduced {
  text-decoration: line-through;
}

.btn {
  background-color: black;
  border: none;
  font-size: 18px;
}

.btn:focus,
.btn:active {
  box-shadow: none;
  border: none;
}

@media screen and (max-width: 576px) {
  .visible-sm,
  .visible-md {
    display: none;
  }
  .visible-xs {
    display: block;
  }
}

@media screen and (min-width: 576px) and (max-width: 768px) {
  .visible-xs,
  .visible-md {
    display: none;
  }
  .visible-sm {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .visible-xs,
  .visible-sm {
    display: none;
  }
  .visible-md {
    display: block;
  }
}

@import "./Languages.scss";
@import "./Header.scss";
@import "./SearchBar.scss";
@import "./HeaderUserInfo.scss";
@import "./Burger.scss";
@import "./Auth.scss";
@import "./ProductsList.scss";
@import "./Product.scss";
@import "./ProductDetail.scss";
@import "./CartBtn.scss";
@import "./Cart.scss";
@import "./CartItems.scss";
@import "./Basket.scss";
@import "./Checkout.scss";
