.auth_container {
  position: relative;
  max-width: 480px;
  margin: 120px auto;
  .header {
    text-align: center;
    margin-bottom: 20px;
    h1 {
      color: black;
      font-size: 30px;
      font-weight: 700;
    }

    p {
      font-size: 14px;
    }
  }

  .form-group label {
    margin: 0;
    font-size: 15px;
    font-weight: 600;
  }

  .form-control {
    height: 48px;
    border-color: rgb(241, 241, 241);
    color: rgb(13, 17, 54);
    font-size: 14px;
    transition: border-color 0.3s;
    border-bottom: 0.5px solid black;
  }
  .form-control:focus {
    box-shadow: none;
  }

  .footer {
    margin: 15px 0;
    text-align: center;
    font-size: 14px;

    span {
      margin-left: 5px;
      cursor: pointer;
      color: black;
      text-decoration: underline;
      font-weight: 600;
    }
  }
}

.auth.close {
  background-color: #fff;
  opacity: 1 !important;
  width: 32px;
  height: 32px;
  color: rgb(34, 34, 34) !important;
  border-radius: 50%;
}

.auth.close:hover {
  background-color: #fff;
}

.auth.close:focus {
  outline: none;
}

.validation {
  margin: 5px 0 10px;
  font-weight: 400;
  font-size: 13px;
  color: #de5959;
}

@media screen and (max-width: 768px) {
  .auth_container {
    position: relative;
    max-width: 80vw;
    margin: 120px auto;
  }
}
