.AuthForm {
  margin: 5% 15%;
  padding: 40px 60px 10px;
}

.AuthForm .header {
  text-align: center;
  margin-bottom: 20px;
}

.AuthForm .header h1 {
  color: black;
  font-size: 30px;
  font-weight: 700;
}

.AuthForm .header p {
  font-size: 14px;
}

.AuthForm .form-group label {
  margin: 0;
  font-size: 15px;
  font-weight: 600;
}

.AuthForm .form-control {
  height: 48px;
  border-color: rgb(241, 241, 241);
  color: rgb(13, 17, 54);
  font-size: 14px;
  transition: border-color 0.3s;
  border-bottom: 0.5px solid black;
}

.AuthForm .form-control:focus {
  box-shadow: none;
}

.AuthForm .footer {
  margin: 15px 0;
  text-align: center;
  font-size: 14px;
}

.AuthForm .footer span {
  margin-left: 5px;
  cursor: pointer;
  color: black;
  text-decoration: underline;
  font-weight: 600;
}

.auth.close {
  background-color: #fff;
  opacity: 1 !important;
  width: 32px;
  height: 32px;
  color: rgb(34, 34, 34) !important;
  border-radius: 50%;
}

.auth.close:hover {
  background-color: #fff;
}

.auth.close:focus {
  outline: none;
}

.validation {
  margin: 5px 0 10px;
  font-weight: 400;
  font-size: 13px;
  color: #de5959;
}

@media screen and (max-width: 576px) {
  .AuthForm {
    margin: 5% 5%;
    padding: 20px;
  }
}
