#basket-container {
  max-width: 60vw;
  margin: 15vh auto 0;

  .basket-title {
    font-size: 26px;
    display: flex;
    justify-content: center;
    font-weight: bold;
  }

  .item-title {
    font-size: 18px;
  }

  .btn-checkout:hover {
    opacity: 0.6;
    transition: 0.2s;
    background-color: black;
  }
}

@media screen and (max-width: 768px) {
  #basket-container {
    max-width: 90vw;
    margin: 15vh auto 0;

    .basket-title {
      font-size: 26px;
      display: flex;
      justify-content: center;
      font-weight: bold;
    }

    .item-title {
      font-size: 18px;
    }
  }
}
