#basket-container {
  margin: 160px 10vw;
  .basket-title {
    height: 50px;
    padding-left: 20px;
    padding-top: 10px;
    margin-bottom: 20px;
    background-color: whitesmoke;
  }
  .basket-items {
    margin-left: 2vw;

    .basket-item {
      margin-top: 1.4vh;

      .item-info {
        padding-top: 0px;

        .item-title {
          font-size: 25px;
          font-weight: 600;
          cursor: pointer;
        }

        .item-title:hover {
          font-weight: bold;
          opacity: 0.8;
        }

        .item-price {
          margin-top: 2.2vh;
        }

        .item-variant {
          margin-top: 4.5vh;
        }
      }

      .btn-remove-item {
        cursor: pointer;
        border: 1px solid black;
        background-color: black;
        color: white;
        height: 50px;
        width: 80px;
        padding-left: 20px;
        margin-top: 10.5vh;
      }

      .item-total-price {
        font-size: 25px;
        font-weight: bold;
        text-align: right;
      }
    }
  }

  .btn-checkout {
    border: 1px solid black;
    background-color: black;
    color: white;
    font-size: 20px;
    border-radius: 10px;
  }

  .btn-apply-promotion {
    background-color: black;
    color: white;
    font-size: 13px;
    margin-top: 32px;
    height: 38px;
    margin-left: 5px;
    border-radius: 5px;
  }

  .total-basket {
    font-size: 35px;
    font-weight: bold;
    justify-content: flex-end;
  }

  .basket-bill {
    margin-left: 50px;
    padding: 0 10px;
    background-color: whitesmoke;
    height: 420px;
    position: relative;

    .basket-bill-title {
      height: 50px;
      margin-left: 10px;
      margin-right: 10px;
      border-bottom: 1px solid black;
      padding-top: 10px;
    }

    .promotion-form {
      margin: 20px 10px;
      padding: 10px 12px;
    }

    .bill-summary {
      padding-bottom: 20px;
      padding-top: 20px;
      border-top: 1px solid black;
      border-bottom: 1px solid black;
      .bill-price,
      .bill-promotion {
        color: rgb(53, 53, 53);
        margin-left: 0;
        margin-right: 0;
        font-weight: 600;
        font-size: 16px;
        .price {
          text-align: right;
        }
        > div {
          padding: 8px 10px;
        }
      }
    }
  }

  .btn-checkout {
    width: 100%;
    height: 60px;
    margin: 20px;
  }
}
