.CartItems {
  position: fixed;
  right: -500px;
  top: 0;
  z-index: 4;
  width: 420px;
  height: 100vh;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
  transition: right 0.5s;
}

.CartItems .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border-bottom: 2px solid rgb(241, 241, 241);
}

.CartItems .header .items-amount {
  color: black;
  font-weight: 600;
  font-size: 18px;
}

.CartItems .fa-times {
  color: #ccc;
  cursor: pointer;
  transition: color 0.2s;
}

.CartItems .fa-times:hover {
  color: rgb(234, 77, 74);
}

.CartItems .body {
  flex-grow: 1;
  margin-right: 5px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.CartItems .body .item {
  padding: 20px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgb(241, 241, 241);
}

.CartItems .body .img {
  width: 80px;
  height: 80px;
  margin: 0 10px 0 2px;
  flex-shrink: 0;
}

.CartItems .body .img img {
  width: 100%;
  height: 100%;
}

.CartItems .body .info {
  flex-grow: 1;
}

.CartItems .body .info .title {
  font-size: 15px;
  width: 140px;
  color: rgb(13, 17, 54);
  text-decoration: none;
}

.CartItems .body .info .title:hover {
  opacity: 0.7;
}

.CartItems .body .info .price {
  font-size: 15px;
  font-weight: 700;
  color: black;
  margin: 5px 0;
}

.CartItems .body .info .quantity,
.CartItems .body .info .selectedSize {
  font-size: 13px;
  font-weight: 400;
  color: rgb(119, 121, 140);
}

.CartItems .body .info .product-price {
  font-size: 13px;
}

.CartItems .body .total-price {
  font-size: 15px;
  font-weight: 800;
  color: rgb(13, 17, 54);
}

.CartItems .footer {
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  background-color: black;
  margin: 20px;
  border-radius: 30px;
}

.CartItems .footer span {
  color: #fff;
  font-weight: 600;
  padding: 15px;
}

.CartItems .footer .total {
  display: flex;
  align-items: center;
  border-radius: 30px;
  background-color: black;
  padding: 15px 30px;
  color: #fff;
  font-weight: 600;
  margin: 2px;
}

.c-show {
  right: 0;
}

.CartItems .footer.disable-btn {
  display: none;
}

@media screen and (max-width: 576px) {
  .CartItems {
    width: 360px;
  }
}
