.shop-header__desktop .wrapper {
  position: fixed;
  padding-bottom: 10px;
  top: 25px;
  left: 0;
  width: 100%;
  background: #fff;
  z-index: 3;
  transition: opacity 0.3s ease;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  opacity: 1;

  .container {
    display: flex;

    .logo {
      font-size: 30px;
      justify-content: center;
      color: black;
      font-family: "Dancing Script", cursive;
    }

    .shop-header__btn-sign-in,
    .shop-header__shopping-cart {
      width: 80px;
      height: 40px;
      margin-top: 10px;
      padding: 5px;
      font-size: 18px;

      .shop-header__shopping-cart__quantity {
        padding: 2px;
        position: absolute;
        top: 0;
      }
    }

    .shop-header__btn-sign-in:hover,
    .shop-header__shopping-cart:hover {
      cursor: pointer;
    }
  }
}

@media screen and (max-width: 687px) {
  .shop-header__desktop .wrapper {
    .container {
      .shop-header__btn-sign-in,
      .shop-header__shopping-cart {
        width: auto;
        height: auto;
        margin-top: 10px;
        padding: 2.5px;
        font-size: 16px;
      }
    }
  }
}
