#languages-container {
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 25px;
  top: 0;
  right: 0;
  text-align: right;
  padding: 5px 20px 0 0;
  background: #ffffff;
  transition: opacity 0.3s ease;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  opacity: 1;
  .selectedLang {
    font-weight: bold;
  }
  .item {
    cursor: pointer;
  }
}
