.products-list {
  margin: 140px 0 50px 0;
  .row {
    justify-content: center;
    margin-left: 10vw;
    margin-right: 10vw;
  }

  .load-more {
    color: white;
    background-color: black;
  }
}
