.products-list {
  max-width: 65vw;
  margin: 12vh auto 5vh;
  .row {
    justify-content: center;
  }

  .load-more {
    color: white;
    background-color: black;
  }
}

@media screen and (max-width: 768px) {
  .products-list {
    max-width: 86vw;
    margin: 12vh auto 5vh;
    .row {
      justify-content: center;
    }

    .load-more {
      color: white;
      background-color: black;
    }
  }
}
