.product {
  width: 360px !important;
  box-sizing: border-box;
  padding: 20px 0 0 0;

  .fade-in:hover {
    cursor: pointer;
    opacity: 0.8;
    transition: 0.2s;
  }

  .fade-in img {
    display: block;
    width: 360px;
    height: 420px;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
      0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06);
  }

  .sale-price {
    margin-left: 10px;
  }

  .product-card__colorways {
    width: 100%;
    justify-content: center;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    background-color: transparent;

    .product-card__colorways_item {
      padding: 0 5px;
      margin-top: 2px;
      cursor: pointer;
    }
  }

  .info {
    text-align: center;
    width: 100%;

    .title {
      color: rgb(13, 17, 54);
      font-weight: 500;
      font-size: 16px;
      width: 100%;
      padding: 5px 20px;
      word-break: break-word;
    }

    .product-card__wrapper {
      display: flex;
      justify-content: center;
    }
  }
}

.product:hover {
  text-decoration: none;
}

.w-custom .info {
  padding: 0 20px;
}

@media screen and (max-width: 576px) {
  .product {
    width: 400px;
    box-sizing: border-box;
    margin: 0 10px 40px 0;
    padding: 20px 0 0 0;
  }
}
