.SearchBar {
    display: flex;
    background-color: rgb(255, 255, 255);
    flex-grow: 1;
    border-radius: 3px;
}

.SearchBar form {
    flex-grow: 1;
    max-width: 70%;
    display: flex;
    align-items: center;
    background-color: rgb(255, 255, 255);
    color: rgb(119, 121, 140);
    border-radius: 3px;
    overflow: hidden;
    padding: 20px 0;
}

.SearchBar input {
    flex-grow: 1;
    border: none;
    outline: none;
    font-size: 15px;
    color: rgb(119, 121, 140);
    padding: 0 20px;
    width: 100%;
    height: 100%;
}

.SearchBar button {
    padding: 0 30px;
    border: 0;
    background-color: rgb(0, 158, 127);
    font-size: 15px;
    color: #fff;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    font-weight: 600;
    height: 55px;
}

.mobile-btn {
    display: flex;
    align-items: center;
    padding: 10px;
    font-size: 20px;
}
