#shop-content {
  margin-top: 120px;
}

.is-current-price {
  font-weight: 500;
}

.sale-price {
  color: red;
}

.reduced {
  text-decoration: line-through;
}

.btn {
  background-color: black;
  border: none;
  font-size: 18px;
}

.btn:focus,
.btn:active {
  box-shadow: none;
  border: none;
}

@media screen and (max-width: 576px) {
  .visible-sm,
  .visible-md {
    display: none;
  }
  .visible-xs {
    display: block;
  }
}

@media screen and (min-width: 576px) and (max-width: 768px) {
  .visible-xs,
  .visible-md {
    display: none;
  }
  .visible-sm {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .visible-xs,
  .visible-sm {
    display: none;
  }
  .visible-md {
    display: block;
  }
}

a {
  color: black !important;
  text-decoration: none;
  cursor: pointer;
}
